.boxFoto{
    position: relative;
    z-index: 1;
}

.boxFoto::before{
    content: '';
    position: absolute;
    /* background-color: rgb(2, 165, 165); */
    background-color: rgb(6, 126, 163);

    border-radius: 50%;
    filter: blur(50px);
    /* width: 400px; */
    inset: 0;
    /* height: 400px; */
    top:10px;
    left: 10px;
    right: 10px;
    z-index: -1;

}