.background{
    position: relative;
    z-index: 1;
}
.background::before{
    content: '';
    position: absolute;
    top: 20%;
    filter: blur(100px);
    left: 20%;
    right: 20%;
    bottom: 20%;
   z-index: -1;
    background-color: rgb(6, 126, 163);

}